* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --black: black;
  --white: #ffffff;
  --jasmine: #fbd784;
  --bg: rgb(11, 11, 32);
}
.container {
  padding: 15px 0;
  margin: auto;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
span {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--jasmine);
  padding-left: 70px;
}
span::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  left: 0;
  top: 8px;
  background-color: var(--jasmine);
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
header {
  position: fixed;
  width: 100%;
  padding: 15px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container nav {
  position: relative;
}
header .container .logo a {
  font-size: 30px;
  color: var(--white);
}
header .container nav img {
  cursor: pointer;
}
header .container input {
  appearance: none;
}
@media (max-width: 991px) {
  header .container nav ul {
    display: none;
    background-color: var(--white);
    border-radius: 8px;
    margin-top: 10px;
  }
  header .container nav ul li:not(:last-child) {
    border-bottom: 1px solid var(--black);
  }
  header .container nav ul li {
    padding: 10px;
  }
  header .container nav ul li a {
    color: var(--black);
    padding: 10px;
  }
  header .container input:checked + ul {
    display: block;
    position: absolute;
    right: 0;
  }
}
@media (min-width: 992px) {
  header .container nav label {
    display: none;
  }
  header .container nav ul {
    display: flex;
  }
  header .container nav ul li {
    padding: 0 20px;
  }
  header .container nav ul li a {
    font-size: 20px;
    color: var(--white);
  }
}
.hero {
  height: 100vh;
  background-image: url(../images/hero.webp);
  background-size: 100% 100%;
}
.hero .container {
  padding: 120px 0 0 200px;
}
.hero .container span {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--jasmine);
  padding-left: 70px;
}

.hero .container h1 {
  text-transform: capitalize;
  font-size: 50px;
  color: var(--white);
}
.hero .container a {
  display: flex;
  align-items: center;
  color: var(--white);
  padding: 20px 0;
}
.hero .container a img {
  padding: 0 10px;
}
.information_us {
  box-shadow: 0 0 190px 190px var(--bg);
}
.information_us .container {
  display: flex;
  flex-wrap: wrap;
}
.information_us .container article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  padding: 0 40px 0 0;
}
.information_us .container article h2,
p,
a {
  padding-top: 15px;
}
.information_us .container article a {
  display: flex;
  align-items: center;
  color: var(--jasmine);
}
.information_us .container article a img {
  padding-left: 10px;
}
.information_us .container::before{
  content: "";
  
}